body {
    margin: 0px;
    padding: 0px;
    background-color: #e7e7e7;
    max-height: 100vh;
}

header {
    grid-area: head;
}
nav {
    grid-area: navbar;
}

main {
    grid-area: main-items;
}

footer{
    grid-area: foot;
}
.grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "head head"
    "navbar main-items"
    "foot foot";
}
nav {
    width: 30vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

ul {
    list-style: none;
}

main {
    width: 70vw;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25527b;
    color: #fff;
}

footer {    
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}